<div class="masthead clearfix">
  <div class="inner">
    <span><%= image_tag "face.png", width: 75, alt: "face image", class: 'masthead-brand face-img' %></span>
    <h3 class="masthead-brand">Jacob Cahoon</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>