<div class="app-card-container">
  <div class="card">
    <h1>Here's a Lil Bit About Moi</h1>
      <hr>
      <div class="row">
        <div class='col-md-4'>
          <%= image_tag "profile.jpg", width: 300, alt: "oh shiz, this shoulda worked", class: 'profile-img' %>
        </div>
        <div class='col-md-8'>
          <p>Every morning I wake up at 6 AM to go to soccer practice. After that I road bike 15 miles to a miserable coding camp. After that I bike 3 miles to work. Finally at the end of the day I bike 15 miles back home. By then it's 5 PM and the day is wasted.</p>
        </div>
      </div>
  </div>
</div>