<h1>Hit me up</h1>

<hr>
<div class="row">
  <div class="col-md6">
    
    <h3>Phone</h3>
    <p><%= number_to_phone "8017873069" %></p>
    
    <h3>Email</h3>
    <p><a href="mailto:jacobbcahoon@gmail.com" "email me">jacobbcahon@gmail.com</a></p>
    
  </div>

  <div class="col-md6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.261975934145!2d-111.68695268419032!3d40.29214177937979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9abeafcfabb1%3A0xecf29e08737d63b0!2sOrem+High+School!5e0!3m2!1sen!2sus!4v1499873781418" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>