<div class="inner cover">
  <h1 class="cover-heading">Hello my dudes.</h1>
  <p class="lead">Welcome to my portfolio. Take a peek around if you'd like.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>